*{
    margin: 0px;
    
}

/* ......(home page)navbar...... */
#navbar{
    height:70px;
    width:100vw;
    background-color: rgb(186, 33, 135);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
#nav-buttons{
    height: 25px;
    width:200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   #navbar button{
    border-radius: 8px;
    height: 35px;
    width: 80px;
    border:none;
    font-size: 18px;
    font-family: Rockwell;
   }
   div>button:hover{
    /* background-color: red; */
    color: white;
   }

   
    #typing-div{
    height: 300px;
    width: 600px;
    
   
    margin: auto;
   
    /* box-shadow: 2px 2px 20px rgb(215, 69, 96); */
    
    border-radius: 10px;
   
    
    
    
   } 
   #think-img{
    height: 300px;
    width: 300px;
    margin-left: 190px;
    border-radius: 20px;
    
    
   }
   #text{
    
    font-size: 30px;
    font-family: Rockwell;
    color: rgb(241, 233, 235);
    padding-top: 100px;
    
   }
   #body{
    background-image: url("../public/travel.jpg") ;
    background-position: center;
    background-size: cover;
    height: 100vh;

   }
   
   
   /*sign in */


   #sign-in{
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 10px black;
    border: 2px solid black;
    
    margin: 200px 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   }
   #sign-form{
       font-size: 27px;
   }
   #sign-input{
    height: 30px;
    width: 250px;
   }
   #sign-submit{
    margin-left: 120px;
    margin-top: 40px;
    font-size: 20px;
    width: 150px;
    
   }
   #forget{
    margin-left: 150px;
    margin-top: 40px;
    font-size: 27px;
   }
   body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #ec89ee;
    
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    
    border-radius: 10px;
    width: 100px;
    padding:5px;
    margin-left: 100px;
    margin-right: 20px;
    background-color:blue;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p{
    color: red;
  }
  input{
    margin: 10px;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
  }
  .il{
    margin-left: 10px;
  }
  .g{
    margin-bottom: 10px;
  }
  .forgot{
    margin-top: 10px;
  }
  .si{
    color:black;
    margin-left: 70px;
  }
  .lo{
    color:black;
    margin-left: 50px;
}
